<div class="jumbotron">
	<div class="container">
	</div>
</div>

<div class="resume">
	<h1>
		<a href="publicResume.html">Resume</a>
	</h1>
	<p>Looking for what I have done and experience?
	Look no further. Here is my
	<a href="publicResume.html">resume</a>.
	</p>
</div>

<div class="games2">
	<div class="container">
		<h2>In Progress :</h2>
		<div class="row">
			<div class="col-md-4">
				<p>Core Project</p>
				<div class="thumbnail">
					<a href="coreProject/index.html">
						<img src="assets/images/coreProject.png" alt="Core Project">
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<p>Core Fighter</p>
				<div class="thumbnail">
					<a href="coreFighter/index.html">
						<img src="assets/images/coreFighter.png" alt="Core Fighter">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="games">
	<div class="container">
		<h2>Games</h2>
		<p>Here are some games I have done. They are not finished.
		Give them a try.</p>
		<div class="row">
			<div class="col-md-4">
				<p>Game</p>
				<div class="thumbnail">
					<a href="game/index.html">
						<img src="assets/images/gameGame.png" alt="Game Over">
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<p>Attack of the Space Kitty</p>
				<div class="thumbnail">
					<a href="attackOfTheSpaceKitty/index.html">
						<img src="assets/images/attackGame.png" alt="kitty">
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<p>Other Game Project</p>
				<div class="thumbnail">
					<a href="otherGameProject/index.html">
						<img src="assets/images/otherGame.png" alt="Walking">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="simulations">
	<div class="container">
		<h2>Simulations</h2>
		<p>I have made some simulations. They are fun to play with.</p>
		<div class="row">
			<div class="col-md-4">
				<p>Snell's Law</p>
				<div class="thumbnail">
					<a href="physics/snell/index.html">
						<img src="assets/images/snellsLaw.png" alt="A particle simulation">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
